#--------------------- Personal ------------------------
/pruebas/

#---------------------- vscode -------------------------

.vscode

#---------------------- poetry -------------------------
/tests/
/hmi_roaster.egg-info/
poetry.lock
README.rts
